* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --default: #F87070;
    --option2: #70F3F8;
    --option3: #D881F8;
    --bdark: #161932;
    --blight: #1E213F;
    --timer: #D7E0FF;
    --setting: #EFF1FA;
}
/*
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Space Mono', monospace;
*/

/* desktop */
.container {
    width: 100%;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--blight);
    display: grid;
    grid-template-rows: auto 518px auto; 
    overflow: hidden;
}
.logo {
    margin: auto; 
}
.settings-icon {
    margin: auto; 
    cursor: pointer;
}
.settings-icon svg {
    opacity: 0.5;
}
.settings-icon:hover svg {
    opacity: 1;
}
.timer-box {
    overflow: hidden;
}

/* toggle button */
.panel {
    width: 373px;
    height: 63px;
    margin: 0 auto 45px;
    background: var(--bdark);
    border-radius: 31.5px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    position: relative;
} 
.panel-btn {
    border: 0;
    cursor: pointer;
    background: transparent;
    color: var(--timer);
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.4;
    position: relative;
    z-index: 2;
} 
.panel-btn:hover {
    opacity: 1;
}
#btn {
    width: 120px;
    height: 48px;
    background: var(--default);
    border-radius: 26.5px;
    position: absolute;
    left: 7px;
    z-index: 1;
    transition: .5s;
}
.text-color {
    color: var(--blight);
    opacity: 1;
}

/* progress indicator and timer */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-div {
    width: 410px;
    height: 410px;
    margin: 0 auto;
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}
.outermost-circle {
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background: var(--bdark);
    position: absolute;
}
.outer-circle {
    width: 339px;
    height: 339px;
    border-radius: 50%;
    background: var(--bdark);
    position: absolute;
    overflow: hidden;
    z-index: 1;
}
.semi-circle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}
.semi-circle:nth-child(1) {
    background: var(--default);
    z-index: 2;
}
.semi-circle:nth-child(2) {
    background: var(--default);
    z-index: 3;
}
.semi-circle:nth-child(3) {
    background: var(--bdark);
    z-index: 4;
}
.inner-circle {
    width: 319px;
    height: 319px;
    border-radius: 50%;
    background: var(--bdark);
    z-index: 5;
}
.timer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 6;
}
.timer p {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--timer);
}
.timer button {
    border: 0;
    cursor: pointer;
    padding-left: 15px;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 15px;
    text-transform: uppercase;
    color: var(--timer);
}
.timer button:hover {
    color: var(--default);
}

/* settings */
.settings-box {
    width: 540px;
    height: 464px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 25px;
    position: relative;
    top: /*35px;*/ -497px;
    z-index: 7;
    transition: .5s ease;
}
.header svg {
    cursor: pointer;
    opacity: 0.5;
}
.header:hover svg {
    opacity: 1;
}
.arrows img,
.arrows2 img,
.arrows3 img {
    cursor: pointer;
}
.apply {
    width: 140px;
    height: 53px;
    position: absolute;
    top: 437px;
    left: 201px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: var(--default);
    border: 0;
    border-radius: 26.5px;
    cursor: pointer;
}
/* testing */
.apply:hover {
    /*opacity: 0.92;*/
    width: 130px;
    height: 50px;
    left: 206px;
    transition: .3s ease;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 38px 31px 40px;
}
.header h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--bdark);
}
.header svg {
    margin-top: 18px;
}
.hr-1 {
    border-top: 1px solid #E3E1E1;
}
.time {
    padding-top: 28px;
    padding-left: 40px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bdark);
    letter-spacing: 5px;
}
.time-box {
    display: flex;
    justify-content: space-between;
    padding: 24px 38px 24px 40px;
}
.set-time {
    font-size: 12px;
    font-weight: 700;
    color: var(--blight);
    opacity: 0.5;
}
.set-area {
    width: 140px;
    height: 48px;
    margin-top: 8px; 
    padding-left: 16px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    background: var(--setting);
    border-radius: 10px;
}
#pd,
#sb,
#lb {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 700;
    color: var(--blight);
}
.arrows,
.arrows2,
.arrows3 {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}
.arrows img,
.arrows2 img,
.arrows3 img {
    margin-bottom: 8px;
}
.hr-2 {
    margin: 0 40px;
    border-top: 1px solid var(--bdark);
    opacity: 0.1;
}
.font-settings {
    padding: 19px 33px 19px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.font-settings p {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--bdark);
}
.font-settings div {
    display: flex;
}
.font-outer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--blight);
    background: var(--setting);
    opacity: 0.9;
    cursor: pointer;
}
.sans {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}
.serif {
    font-family: 'Roboto Slab', serif;
}
.mono {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.select-font {
    color: #FFFFFF;
    background: var(--bdark);
    opacity: 1;
}
.font-outer:hover {
    border: 1px solid var(--setting);
}


/* tablet */
@media only screen and (min-width: 500px) and (max-width: 1023px) {
    .container {
        grid-template-rows: 17% 57% 26%;
    }
    .logo {
        margin: auto auto 55px auto;
    }
    .settings-icon {
        margin: 144px auto auto auto;
    }
    .panel {
        margin: 0 auto 109px;
    }
    
}
